#game{
    margin: auto;
    width: 960px;
    border:black 10px solid;
}

a:link {
    text-decoration: none;
}

#info{
    margin: auto;
    text-align: center;
    width: 960px;
    height: 140px;
    border:black 10px solid;
    font-family: 'Roboto', sans-serif;
}